@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/goudy-old-style');

.goudy {
    font-family: 'Goudy Old Style';
    font-style: normal;
    font-weight: bold;
}

.container {
    height: auto;
    width: 100%;
    padding: 1em 1em 1em 1em;
}

.full-height {
    min-height: 100vh;
    height: auto;
}

.credit {
    position: absolute;
    right: 100px;


}
.spacer{
    min-height: 20px !important;
}

.formatted-poem {
    max-width: 100%;

  }
  
  .poem-line {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .poem-spacer {
    height: 1rem;
  }
  
  .poem-title {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .poem-italic {
    font-style: italic;
  }
  
  @media (max-width: 600px) {
  
    .poem-line {
      padding-left: 1rem;
      text-indent: -1rem;
    }
    .special-break-space{
      display: none !important;
    }
    .special-break{
      display: none !important;
    }
  }

  .special-break-space{
    display: inline-block;
  }
  .special-break{
    display: block;
  }